.newTitulo {
    padding         : $padding-h2;
    text-align      : center;
    color           : white;
    background-color: rgb(2, 2, 31);

    @media (min-width: 320px) and (max-width: 768px) {
        padding: 1rem;
    }
}

.new {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    padding        : 5rem;


    .new__lista {
        padding   : 1rem;
        text-align: center;

    }
}

.aeropuerto {
    display         : flex;
    justify-content : space-evenly;
    padding         : 2rem;
    background-color: rgb(189, 202, 226);

    @media (min-width:320px) and (max-width: 768px) {

        display       : flex;
        flex-direction: column;



    }

}

.aeropuertoParrafo {
    width     : 25%;
    margin-top: 8%;

    @media (min-width: 320px) and (max-width: 768px) {
        margin-left: 5rem;
        width      : 70%;
    }

}

.aeropuerto__logo {
    width: 600px;

    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
    }


}


.masVendidos__titulo {
    text-align      : center;
    padding         : 2rem;
    color           : white;
    background-color: $bgn-h;
    font-size       : 25px;



}

.masVendidosCuerpo__lista {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    text-align     : center;
    padding        : 2rem;

    @media (min-width: 320px) and (max-width: 768px) {
        align-content: center;
    }

}

.masVendidos {
    background-color: rgb(189, 202, 226);
    padding         : 2rem;

    @media (min-width: 320px) and (max-width: 768px) {
        padding: 1rem;
    }

    .imagenesG {
        display        : flex;
        justify-content: space-evenly;
        text-align     : center;



        .imagenesG__listaTxt {
            padding: 1rem;
            color  : white;


        }
    }

    .imagenesR {
        @media (min-width: 320px) and (max-width: 768px) {
            width: 110%;
        }
    }
}

.tendencias__titulo {
    text-align      : center;
    padding         : 1rem;
    color           : white;
    background-color: $bgn-h;
    font-size       : 25px;
}

.tendencias__fotos {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-evenly;
    padding         : 1rem;
    background-color: white;

    .tendencias__fotosImg {
        padding: 0rem;

        .tendencias__fotosImgItem {
            width: 200px;
        }
    }

}

.encontranos__fotos {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    padding        : 2rem;

}

.suscribite {
    padding: 1rem;

    .suscribiteForm {
        display  : flex;
        flex-wrap: wrap;

        .suscribite__mail {

            margin-left  : 10rem;
            padding      : 7px 6px;
            width        : 294px;
            font-weight  : bold;
            margin-bottom: 15px;

        }

        .suscribite__boton {
            width        : 10rem;
            border-radius: 5rem;
            margin-left  : 1rem;
            font-weight  : bold;
            font-size    : 20px;

            &:hover {
                color: red;
            }
        }

        .suscribite__titulo {
            padding    : 0rem;
            color      : $color-h2;
            margin-left: 2rem;
        }
    }
}

.infoLista {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-evenly;
    padding         : 1rem;
    background-color: lightblue;
    color: white;

    @media (min-width: 320px) and (max-width: 768px) {

        background-color: lightblue;
    }

    .infoLista__item {
        padding: 1rem;

        .infoLista__itemTxt {
            text-align: center;
            size      : 10px;

        }
    }
}

.navFoo {

    padding         : 1rem;
    background-color: $color-h2;

    .navFoo__menu {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-evenly;
        padding        : 1rem;



        .navFoo__menuLink {

            color          : white;
            text-decoration: none;




            &:hover {
                color: red;

            }

        }

    }
}