.navInfo {
    background-color: skyblue;
    color           : black;
    text-align      : center;

    @media (min-width: 320px) and (max-width: 768px) {
        display: none;
    }

}

.navLogo {
    display        : flex;
    justify-content: center;
    padding        : 0.5rem;


}

.navLogo__nombre {
    color       : rgb(109, 109, 161);
    text-align  : center;
    padding-left: 1rem;
    font-family : 'Krona One', sans-serif;



}



.navBar {

    padding: 0.5rem;



    .navBar__menu {
        display        : flex;
        justify-content: space-around;
        padding        : 1rem;

        @media (min-width: 320px) and (max-width: 768px) {
            display       : flex;
            flex-direction: column;
            padding       : 1rem;
            text-align    : center;



        }

        .navBar__menuLink {

            color          : rgb(2, 2, 31);
            text-decoration: none;

            @media (min-width: 320px) and (max-width: 768px) {
                color: black;
                

            }




            &:hover {
                color: red;

            }

        }

    }
}