    .nosTitulo {
        text-align: center;
        padding   : 2rem;
        color     : white;
        background-color:$bgn-h;

    }

    .nosotros__Imagen {
        display        : flex;
        justify-content: center;
        background-color: rgb(18, 18, 19);
        width: 100%;
    }

    .nosotros {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 5rem;
        background-color:  rgb(219, 227, 230);
        


        .parafoN {
            width  : 30%;
            padding: 2rem;

            .nosotros__titulo {
                padding   : 1rem;
                text-align: center;
                color     : $color-h2;
                
            }

            .nosotros__titulo1 {
                padding-top: 10rem;
            }

           
        }

        

        
    }
    
