.tituloLocales__txt{
    text-align: center;
    color: white;
    padding: 1rem;
    background-color:$bgn-h;
}

.locales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5rem;

    @media (min-width: 320px) and (max-width: 768px) {
        padding: 0.5rem;
    }

    .localesLista {
        padding: 2rem;

        @media (min-width: 320px) and (max-width: 768px) {
             padding: 1rem;
        }

        .localesLista__item {
            padding: 1rem;
            text-align: center;
        }

    }
}

.horario {
    text-align: center;
    color: white;
    padding: 1rem;
    background-color:$bgn-h;
}
.mapa {
    padding: 1rem;
    background-color: $color-bgn;

    .mapaG {
        margin-left: 30rem;

        @media (min-width: 320px) and (max-width: 768px) {

            margin-left: 3rem;
        }
        
    }
}